@using eVoucher.Pages.Games.Partials
@using eVoucherGames.Models.Tetris;
@using eVoucherGames.Models.Tetris.Enums;
@using eVoucherGames.Models.Tetris.Tetrominos;
@inject IJSRuntime _jsRuntime;

<Modal @ref="modalRef" Class="tetris-game-modal">
    <ModalContent Centered Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>Tetris</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <audio id="theme" src="../sounds/tetris-theme.ogg" preload="auto" loop="loop" />
            <div class="row">
                <Div class="col">
                     @if (grid.IsStarted)
                    {
                        <Check TValue="bool" Checked="@playAudio" CheckedChanged="OnPauseSound">Play music</Check>
                    }
                </Div>
                <div class="col">
                    <div class="tetris-container" tabindex="0" @onkeydown="KeyDown" @ref="gameBoardDiv">
                        @for (int i = grid.Height; i >= 1; i--)
                        {
                            <div class="tetris-row">
                                @for (int j = 1; j <= grid.Width; j++)
                                {
                                    <TetrisGridCell Row="i" Column="j" Tetromino="currentTetromino" Grid="grid" />
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="col">
                    @if (grid.State == GameState.GameOver)
                    {
                        <h1>Game Over!</h1>
                        <p>Thanks for playing!</p>
                    }
                    @if (grid.IsStarted)
                    {
                        <div class="row">
                            <div class="col">
                                <h2>Upcoming Pieces</h2>
                            </div>
                        </div>
                        <TetrisTetrominoDisplay Style="nextStyle" />
                        <TetrisTetrominoDisplay Style="secondNextStyle" />
                        <TetrisTetrominoDisplay Style="thirdNextStyle" />
                        <div class="row">
                            <div class="col">
                                <h3>Controls</h3>
                                <span>&#8592;</span> / <span>&#8594;</span> Move Tetromino<br />
                                <span>&#8593;</span>: Rotate Tetromino<br />
                                <span>&#8595;</span> / <span>Space</span>: Drop Tetromino<br />
                                <span>M</span>: Toggle Audio
                            </div>
                        </div>
                    }
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h2>Score: @score</h2>
                            <span>Previous High Score: @previousHighScore</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2>Level: @level</h2>
                        </div>
                    </div>
                </div>
            </div>
        </ModalBody>
        <ModalFooter>
            <div class="row">
                <div class="col">
                    @if (grid.State == GameState.NotStarted)
                    {
                        <button @onclick="RunGame" class="btn btn-primary">Start!</button>
                    }
                    @if (grid.State == GameState.GameOver)
                    {
                        <button @onclick="NewGame" class="btn btn-primary">New Game!</button>
                    }
                </div>
            </div>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>