@page "/"
@using eVourcher.Services;
@using System.Linq;
@using Microsoft.AspNetCore.Components;
@using System;
@using System.Collections.Generic;
@using System.Threading.Tasks;


@inject ICampaignService CampaignService;

@*<PageTitle>eVoucher - Chơi game và nhận quà tặng hấp dẫn</PageTitle>*@

<Div Class="evoucher-header customer-header">
    <Row Display="Display.Flex">
        <Column ColumnSize="ColumnSize.Is1" Class="logo">
            <Div id="logo-row" style="display: inline-block; width: 50px; height: 50px">
                <img src="./Images/Image1.png" alt="logo" class="img-thumbnail" />
            </Div>
        </Column>
        <Column ColumnSize="ColumnSize.Is3" Class="dropdown">
            <SelectList TItem="string"
                        TValue="string"
                        Data="@Locations"
                        TextField="@(item => item)"
                        ValueField="@((item)=>item)"
                        DefaultItemText="Vui lòng chọn khu vực">
            </SelectList>
        </Column>

        <Column ColumnSize="ColumnSize.Is6" Class="customer-navigation">
            <Buttons Role="ButtonsRole.Toolbar">
                <Button Color="Color.Info">Đồ ăn</Button>
                <Button Color="Color.Info">Thức uống</Button>
                <Button Color="Color.Info">Thể thao</Button>
                <Button Color="Color.Info">Công nghệ</Button>
            </Buttons>
        </Column>
    </Row>
    
    <Row Class="customer-content">        
        @{
            var pageSize = 9;
            var pageCount = (int)Math.Ceiling((double)CampaignForFoods.Count / pageSize);
        }
        @for (var i = 0; i < pageCount; i++)
        {
            <div class="row">
                @foreach (var campaign in CampaignForFoods.Skip(i * pageSize).Take(pageSize))
                {
                    <div class="col-md-4">
                        <Card>
                            @if (!string.IsNullOrEmpty(campaign.ImageUrl))
                            {
                                <Image Source="@campaign.ImageUrl" Width="Width.Is100" Height="Height.Is100"></Image>
                            }
                            <CardBody>
                                <CardTitle Size="6">@campaign.Name</CardTitle>
                                <CardText>
                                    @campaign.Description
                                </CardText>
                                <Button Color="Color.Primary">View</Button>
                            </CardBody>
                        </Card>
                    </div>
                }
            </div>
        }
       
        </Row> 
</Div>
@code 
{
    private IList<string> Locations = new List<string> { "Hồ Chí Minh", "Hà Nội", "Đà Nẵng" };
    private IList<Campaign> CampaignForFoods { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CampaignForFoods = await CampaignService.GetCampaigns();
        StateHasChanged();
    }
}
