@page "/users"
@using eVoucher.Models;
@using eVoucher.Pages.Users.Components;

<PageTitle>Users</PageTitle>

<Div Class="user-view">
    <Div Class="evoucher-header user-header">
        <Row Display="Display.Flex">
            <Column ColumnSize="ColumnSize.Is6" Class="title">User Information</Column>
            <Column ColumnSize="ColumnSize.Is6" Class="user-actions">
                <Button Color="Color.Primary" Margin="Margin.Is2.FromEnd" Clicked="ViewAddEdiUser">
                    <Icon Name="IconName.Add"></Icon><Span>&nbsp; @("Add")</Span>
                </Button>
                    <Button Color="Color.Secondary" Margin="Margin.Is2.FromEnd">
                        <Icon Name="IconName.Edit"></Icon><Span>&nbsp; @("Edit")</Span>
                    </Button>
                    <Button Color="Color.Danger">
                        <Icon Name="IconName.Delete"></Icon><Span>&nbsp; @("Delete")</Span>
                    </Button>
                </Column>
            </Row>
        </Div>
        <Div Class="evoucher-content user-content">
            <DataGrid TItem="User"
                  Data="@Users"
                  @bind-SelectedRow="@selectedUser"
                  Responsive
                  PageSize="20"
                  ShowPager="true"
                  Hoverable="true"
                  Striped="true"
                  Filterable>
            <DataGridCommandColumn />
            <DataGridColumn Field="@nameof(User.Id)" Caption="#" Sortable="false" />
            <DataGridColumn Field="@nameof(User.FirstName)" Caption="First Name" Editable />
            <DataGridColumn Field="@nameof(User.LastName)" Caption="Last Name" Editable />
            <DataGridColumn Field="@nameof(User.EmailAddress)" Caption="Email Address" Editable />
        </DataGrid>
    </Div>
</Div>

<AddEditUserModal @ref="addEditUserModal"></AddEditUserModal>