@using static eVoucher.Models.DataType;
@using System.IO

<Modal @ref="modalRef">
    <ModalContent Centered Size="ModalSize.Fullscreen">
        <ModalHeader>
            <ModalTitle>@Title</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Row>
                <Column ColumnSize="ColumnSize.Is7">
                    <Field Class="edit-user-header">Partner Information:</Field>
                    <Validations @ref="@validationsRef" Mode="ValidationMode.Manual" ValidateOnLoad="false">
                        <Validation Validator="@ValidateSelectedUser">
                            <SelectList TItem="User"
                                        TValue="Guid"
                                        Data="@Users"
                                        TextField="@((item)=>item.FullName)"
                                        ValueField="@((item)=>item.ID)"
                                        SelectedValue="@SelectedUserId"
                                        SelectedValueChanged="OnUserChanged"
                                        DefaultItemText="Select user">
                                <Feedback>
                                    <ValidationError>Choose valid user!</ValidationError>
                                </Feedback>
                            </SelectList>
                        </Validation>
                        <Validation Validator="ValidationRule.IsNotEmpty">
                            <Field>
                                <FieldLabel>Name</FieldLabel>
                                <TextEdit @bind-Text="@Partner.CompanyName" Placeholder="Enter company name..." />
                            </Field>
                            <Field>
                                <FieldLabel>Description</FieldLabel>
                                <TextEdit @bind-Text="Partner.Description" Placeholder="Enter description..." />
                            </Field>
                        </Validation>
                        <Validation Validator="@ValidateDate">
                            <Field>
                                <FieldLabel>Join Date</FieldLabel>
                                <DateEdit TValue="DateTime?" Disabled="@(!IsAdded)" @bind-Date=Partner.JoinDate>
                                    <Feedback>
                                        <ValidationError>Join date cannot be in the past.</ValidationError>
                                    </Feedback>
                                </DateEdit>
                            </Field>
                        </Validation>
                        <Validation Validator="ValidationRule.IsEmail">
                            <Field>
                                <FieldLabel>Company Email address</FieldLabel>
                                <TextEdit @bind-Text="Partner.CompanyEmailAddress" Placeholder="Enter company email address..." />
                            </Field>
                        </Validation>
                        <Validation UsePattern>
                            <Field>
                                <FieldLabel>Company Phone number</FieldLabel>
                                <TextEdit @bind-Text="Partner.CompanyPhone" Placeholder="Enter company phone number..." Pattern="@(eVoucherHelper.PhonePartern)">
                                    <Feedback>
                                        <ValidationError>Pattern does not match! Such as: +84978123456/0978123456</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                    </Validations>
                </Column>
                <Column ColumnSize="ColumnSize.Is5" Display="Display.Flex" Style="flex-direction:column; align-items:center">
                    <Field>
                        <FieldLabel>Company Image</FieldLabel>
                        <FilePicker Multiple=false Upload="OnFileUpload" ShowMode="FilePickerShowMode.List" />
                    </Field>
                    <Field Style="max-width: 400px;max-height: 400px;border: 2px solid #6852c1;">
                        @if (!string.IsNullOrEmpty(ImageDataUrl))
                        {
                            <Image Source="@ImageDataUrl" Width="Width.Is100" Height="Height.Is100"></Image>
                        }
                    </Field>
                </Column>
            </Row>
            <Div Display="Display.Flex">
                <Field Class="edit-user-header">Campaign Information:</Field>
                <Buttons>
                    <Button Color="Color.Primary" Clicked="@(() => CampaignActions(eAction.Add))">Add</Button>
                    <Button Color="@(SelectedPartnerCampaign is not null ? Color.Danger : Color.Dark)" Disabled="@(SelectedPartnerCampaign is not null ? false : true)" Clicked="@(() => CampaignActions(eAction.Delete))">Delete</Button>
                </Buttons>
            </Div>
            @if (Partner.PartnerCampaigns.Any())
            {
                <DataGrid TItem="PartnerCampaign"
                      Data="@Partner.PartnerCampaigns"
                        Responsive
                      @bind-SelectedRow="@SelectedPartnerCampaign"
                      PageSize="20"
                      ShowPager="true"
                      Hoverable="true"
                      Striped="true"
                        Filterable>
                <DataGridColumn Field="@nameof(PartnerCampaign.Index)" Caption="#" Sortable="false" />
                <DataGridColumn Field="@nameof(PartnerCampaign.Name)" Caption="Name" />
                <DataGridColumn Field="@nameof(PartnerCampaign.Description)" Caption="Description" />
                <DataGridColumn Field="@nameof(PartnerCampaign.StartedDate)" Caption="Started Date" />
                <DataGridColumn Field="@nameof(PartnerCampaign.ExpiredDate)" Caption="Expired Date" />

            </DataGrid>
            }
            else
            {
                <Field TextAlignment="TextAlignment.Center">The current campaign is empty.</Field>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@UpdateData">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<AddEditPartnerCampaignModal @ref="addEditPartnerCampaignModal" UpdatePartnerCampaignCallBack="OnUpdatePartnerCampaignCallBack"></AddEditPartnerCampaignModal>

