@page "/partners"
@using eVoucher.Models;
@using eVoucher.Pages.Partners.Components;

<PageTitle>Partners</PageTitle>

<Div Class="Partner-view">
    <Div Class="evoucher-header Partner-header">
        <Row Display="Display.Flex">
            <Column ColumnSize="ColumnSize.Is6" Class="title">Partner Information</Column>
            <Column ColumnSize="ColumnSize.Is6" Class="Partner-actions">
                <Button Color="Color.Primary" Margin="Margin.Is2.FromEnd" Clicked="ViewAddEditPartner">
                    <Icon Name="IconName.Add"></Icon><Span>&nbsp; @("Add")</Span>
                </Button>
                    <Button Color="Color.Secondary" Margin="Margin.Is2.FromEnd">
                        <Icon Name="IconName.Edit"></Icon><Span>&nbsp; @("Edit")</Span>
                    </Button>
                    <Button Color="Color.Danger">
                        <Icon Name="IconName.Delete"></Icon><Span>&nbsp; @("Delete")</Span>
                    </Button>
                </Column>
            </Row>
        </Div>
        <Div Class="evoucher-content Partner-content">
            <DataGrid TItem="Partner"
                  Data="@Partners"
                  @bind-SelectedRow="@selectedPartner"
                  Responsive
                  PageSize="20"
                  ShowPager="true"
                  Hoverable="true"
                  Striped="true"
                  Filterable>
            <DataGridCommandColumn />
            <DataGridColumn Field="@nameof(Partner.Id)" Caption="#" Sortable="false" />
            <DataGridColumn Field="@nameof(Partner.CompanyName)" Caption="Partner Name" Editable />
            <DataGridColumn Field="@nameof(Partner.Description)" Caption="Description" Editable />
            <DataGridColumn Field="@nameof(Partner.CompanyPhone)" Caption="Phone" Editable />
        </DataGrid>
    </Div>
</Div>

<AddEditPartnerModal @ref="addEditPartnerModal"></AddEditPartnerModal>