@page "/admin/campaigns"
@using eVoucher.Models;
@using eVoucher.Pages.Campaigns.Components;

<PageTitle>Campaigns</PageTitle>

<Div Class="campaign-view">
    <Div Class="evoucher-header campaign-header">
        <Row Display="Display.Flex">
            <Column ColumnSize="ColumnSize.Is6" Class="title">Campaign Information</Column>
            <Column ColumnSize="ColumnSize.Is6" Class="campaign-actions">
                <Button Color="Color.Primary" Margin="Margin.Is2.FromEnd" Clicked="@(() => CampaignActions(eAction.Add))">
                    <Icon Name="IconName.Add"></Icon><Span>&nbsp; @("Add")</Span>
                    </Button>
                    <Button Color="@(selectedCampaign is not null ? Color.Secondary : Color.Dark)" Disabled="@(selectedCampaign is not null ? false : true)" Margin="Margin.Is2.FromEnd" Clicked="@(() => CampaignActions(eAction.Edit))">
                        <Icon Name="IconName.Edit"></Icon><Span>&nbsp; @("Edit")</Span>
                    </Button>
                    <Button Color="@(selectedCampaign is not null ? Color.Danger : Color.Dark)" Disabled="@(selectedCampaign is not null ? false : true)" Clicked="@(() => CampaignActions(eAction.Delete))">
                        <Icon Name="IconName.Delete"></Icon><Span>&nbsp; @("Delete")</Span>
                    </Button>
                </Column>
            </Row>
        </Div>
        <Div Class="evoucher-content campaign-content">
            <DataGrid TItem="Campaign"
                  Data="@Campaigns"
                  @bind-SelectedRow="@selectedCampaign"
                  Responsive
                  PageSize="20"
                  ShowPager="true"
                  Hoverable="true"
                  Striped="true"
                  Filterable>
            <DataGridCommandColumn />
            <DataGridColumn Field="@nameof(Campaign.Index)" Caption="#" Sortable="false" />
            <DataGridColumn Field="@nameof(Campaign.Name)" Caption="Campaign Name" Editable />
            <DataGridColumn Field="@nameof(Campaign.Description)" Caption="Description" Editable />
            <DataGridColumn Field="@nameof(Campaign.StartedDate)" Caption="Started Date" Editable />
            <DataGridColumn Field="@nameof(Campaign.ExpiredDate)" Caption="Expired Date" Editable />
        </DataGrid>
    </Div>
</Div>

<AddEditCampaignModal @ref="addEditCampaignModal" OnUpdateCampaign="OnUpdateCampaign"></AddEditCampaignModal>
