@inject NavigationManager NavManager
@inject IJSRuntime JS

@if (CurrentUser is not null)
{
    if (!CurrentUser.IsCustomerView)
    {
        <Div Class="evoucher-left-menu-container">
            <Bar Mode="BarMode.VerticalInline"
                 CollapseMode="BarCollapseMode.Small"
                 Breakpoint="Breakpoint.Desktop"
                 NavigationBreakpoint="Breakpoint.Tablet"
                 ThemeContrast="ThemeContrast.Light"
                 Class="evoucher-left-menu">
                <BarMenu>
                    <BarStart>
                        <BarToggler Display="@(CurrentUser.IsAdminView ? Display.Block : Display.None)" Style="height: 48px; color:black;" Padding="Padding.Is0.FromBottom" />
                        <BarItem Display="@(CurrentUser.IsAdminView ? Display.Block : Display.None)" Margin="Margin.Is2.FromTop" Style="font-size: 15px;">
                            <BarLink To="/admin" Padding="Padding.Is2.FromStart.Is2.FromEnd">
                                <BarIcon Padding="Padding.Is1.FromBottom" IconName="@("fa-square-d")" />
                                <Span>Dashboard</Span>
                            </BarLink>
                        </BarItem>
                        <BarItem Display="@(!CurrentUser.IsCustomerView ? Display.Block : Display.None)" Style="font-size: 15px;">
                            <BarLink To="@(CurrentUser.IsAdminView ? "/admin/campaigns" : CurrentUser.IsPartnerView ? "/partner/campaigns" : "")" Padding="Padding.Is2.FromStart.Is2.FromEnd">
                                <BarIcon Padding="Padding.Is1.FromBottom" IconName="@("fa-square-c")" />
                                <Span>Campaigns</Span>
                            </BarLink>
                        </BarItem>
                        <BarItem Display="@(CurrentUser.IsAdminView ? Display.Block : Display.None)" Style="font-size: 15px;">
                            <BarLink To="/admin/partners" Padding="Padding.Is2.FromStart.Is2.FromEnd">
                                <BarIcon Padding="Padding.Is1.FromBottom" IconName="@("fa-square-p")" />
                                <Span>Partners</Span>
                            </BarLink>
                        </BarItem>
                        <BarItem Display="@(CurrentUser.IsAdminView ? Display.Block : Display.None)" Style="font-size: 15px;">
                            <BarLink To="/admin/users" Padding="Padding.Is2.FromStart.Is2.FromEnd">
                                <BarIcon Padding="Padding.Is1.FromBottom" IconName="@("fa-square-u")" />
                                <Span>Users</Span>
                            </BarLink>
                        </BarItem>
                        <BarItem Style="font-size: 15px;">
                            <BarLink To="/tetris" Padding="Padding.Is2.FromStart.Is2.FromEnd">
                                <BarIcon Padding="Padding.Is1.FromBottom" IconName="@("fa-square-u")" />
                                <Span>Teris</Span>
                            </BarLink>
                        </BarItem>
                    </BarStart>
                </BarMenu>
            </Bar>
        </Div>
    }
}

